.form-item {
  margin-bottom: $space-quadruple;
}

.form-item__label {
  display: block;
  margin-bottom: $space-one-half;
  font-weight: $font-bold;
}

.form-item__textfield {
  border: 0.1rem solid #7a7f80;
  padding: $space;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    border-color: clr(black);
    outline: 0.2rem solid clr(bright-turquoise);
    outline-offset: -0.3rem;
  }
}

.form-item__description {
  margin-bottom: $space;

  &.after {
    margin-top: $space;
    margin-bottom: 0;
  }
}

.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: $space-quadruple;

  .form-item {
    margin-left: $space;
  }
}

.captcha {
  margin-bottom: $space;
}

// Date.
.form-fieldset--date .form-items {
  margin-top: $space-double;

  .form-item {
    margin: $space $space-double $space-one-half 0;
  }

  .form-item__textfield {
    max-width: 13rem;
  }

  @include medium {
    display: flex;

    .form-item {
      margin-top: 0;
    }
  }
}

.form-item--error {
  border-left: 0.4rem solid clr(bright-red);
  color: clr(bright-red);
  padding-left: $space;

  .form-item__textfield {
    border-color: clr(bright-red);
  }
}
