.node__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}
.node__content {
  /*max-width: 610px;*/
  margin-top: 64px;
}

.article__date, .article__image-alt {
  color: var(--dark-grey);
}

.article__date .field__label {
  display: none;
}

/*.article__image img::after {*/
/*  content: attr(alt);*/
/*}*/

.article__image {
  margin-top: 32px;
  margin-bottom: 32px;
}

.article__image-alt {
  margin-top: 16px;
}

.article__body p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

p .align-left {
  max-width: 289px;
  margin-top: 24px;
  margin-right: 32px ;
}
