@import "layout/breakpoints.css";

.node__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.node__content {
  margin-top: 32px;
}

.hospital__date, .hospital__image-alt {
  color: var(--dark-grey);
}

/*blockquote*/
blockquote {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  position: relative;
  text-align: left;
  max-width: 90%;
  margin: 16px;
  padding: 40px;
}
blockquote::before {
  content: url('../../images/icons/icon-quote-up.svg');
  vertical-align: top;
  position: absolute;
  align-self: flex-start;
  left: -26px;
  top: -10px;
}
blockquote::after {
  content: url('../../images/icons/icon-quote-down.svg');
  vertical-align: baseline;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  right: -26px;
  bottom: -10px;
}

.hospital__date .field__label {
  display: none;
}

/*.hospital__image img::after {*/
/*  content: attr(alt);*/
/*}*/

.hospital__image {
  margin-top: 32px;
  margin-bottom: 32px;
}
.hospital__image .field__label {
  display: none;
}
.hospital__image-alt {
  margin-top: 16px;
}

.hospital__body p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
.hospital__body {
  margin-bottom: 32px;
}
p .align-left, .align-right {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px ;
}

p a {
  color: var(--main-color);
  white-space: nowrap;
}
p a::after {
  content: url('../../images/icons/link.svg');
  margin-left: 8px;
}

/*card*/
.hospital__card-info {
  border: 2px solid #D8DDE0;
  border-radius: 6px;
  padding: 16px;
}
.hospital__card-info a {
color: black;
}
.card-info__title {
  font-size: 26px;
  color: var(--main-color);
  margin-bottom: 24px;
}
.card-info__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*breakpoints*/
/*narrow*/
/*@media all and (min-width: 560px) and (max-width: 850px) {*/
/*  body {*/
/*    background-color: blue;*/
/*  }*/
/*}*/

/*wide*/
@media all and (min-width: 851px) {
  .node__title {
    font-size: 48px;
  }

  .node__content {
    /*max-width: 610px;*/
    margin-top: 64px;
  }

  blockquote {
    margin: 45px;
  }

  p .align-left {
    max-width: 289px;
    margin-top: 24px;
    margin-right: 32px ;
  }

  p .align-right {
    max-width: 289px;
    margin-top: 24px;
    margin-left: 32px ;
  }
}
