.node__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.node__content {
  margin-top: 32px;
}

.hospital__date, .hospital__image-alt {
  color: var(--dark-grey);
}

/*blockquote*/
.hospital__body blockquote {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  position: relative;
  text-align: left;
  max-width: 90%;
  margin: 16px;
  padding: 40px;
}

.hospital__body blockquote::before {
  content: url('../../images/icons/icon-quote-up.svg');
  vertical-align: top;
  position: absolute;
  align-self: flex-start;
  left: -26px;
  top: -10px;
}

.hospital__body blockquote::after {
  content: url('../../images/icons/icon-quote-down.svg');
  vertical-align: baseline;
  position: absolute;
  align-self: flex-end;
  right: -26px;
  bottom: -10px;
}

.hospital__image {
  margin-top: 32px;
  margin-bottom: 32px;
}

.hospital__image-alt {
  margin-top: 16px;
}

.hospital__body p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.hospital__body {
  margin-bottom: 32px;
}

.hospital__body .align-left, .align-right {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px ;
}

.hospital__body a {
  color: var(--main-color);
  white-space: nowrap;
}

.hospital__body a::after {
  content: url('../../images/icons/link.svg');
  margin-left: 8px;
}

/*card*/
.hospital__card-info {
  border: 2px solid #D8DDE0;
  border-radius: 6px;
  padding: 16px;
}

.hospital__card-info a {
  color: black;
}

.card-info__title {
  font-size: 26px;
  color: var(--main-color);
  margin-bottom: 24px;
}

.card-info__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*card*/
.hospital__cards {
  margin-top: 36px;
  margin-bottom: 40px;
  width: 100%;
}

.hospital__cards .paragraph--type--image-and-text {
  background-color: var(--light-grey);
  margin-bottom: 24px;
  border-radius: 6px;
  width: 100%;
  height: 355px;
}

.hospital__cards img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}

.hospital__cards .field--name-field-ph-image {
  height: auto;
  width: 100%;
}

.hospital__cards .field__label {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 32px;
}

.hospital__cards .field--name-field-ph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 16px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hospital__cards .field--name-field-ph-text::after {
  content: url('../../images/icons/arrow-right.svg');
  margin-bottom: 18px;
}

.hospital__color--c1ff76 {
  border-left: 2px solid #C1FF76;
}

.hospital__color--76bfff {
  border-left: 2px solid #76bfff;
}

/*breakpoints*/

/*narrow*/
@media all and (min-width: 768px) and (max-width: 992px) {
  .hospital__cards .field__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 32px;
  }
}

/*wide*/
@media all and (min-width: 992px) {
  .node__title {
    font-size: 48px;
  }

  .node--type-hospital {
    width: 70%;
    max-width: 823px;
  }

  .node__content {
    margin-top: 64px;
  }

  .hospital__body blockquote {
    margin: 45px;
  }

  .hospital__body .align-left {
    max-width: 289px;
    margin-top: 24px;
    margin-right: 32px ;
  }

  .hospital__body .align-right {
    max-width: 289px;
    margin-top: 24px;
    margin-left: 32px ;
  }

  /*card*/
  .hospital__cards {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .hospital__cards .paragraph--type--image-and-text {
    width: min-content;
  }

  .hospital__cards .field--name-field-ph-image {
    height: 180px;
    width: 333px;
  }

  .hospital__cards .field__items {
    display: flex;
    gap: 32px;
  }
}

/*hospital teaser*/
.hospital-teaser__title .field {
  color: var(--main-color);
  text-decoration: none;
  font-size: 18px;
}
