@import '../../imports.scss';

.card-test {
  width: 40rem;
  height: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: $padding-large;
  background-color: clr(off-white);
  border-radius: $border-radius*3;

  &:hover {
    cursor: pointer;
  }

  &:focus-within,
  &:active {
    box-shadow: 0 0 0 0.4rem clr(bright-blue);
  }

  img {
    width: 100%;
    border-top-left-radius: $border-radius*3;
    border-top-right-radius: $border-radius*3;
  }

  .icon {
    display: inline-block;
    height: 2.1rem;
    margin-top: 0.3rem;
    margin-right: $space-one-half;
    vertical-align: text-top ;
    width: 2.4rem;
  }
}

.card-test__content {
  width: 100%;
  height: 50%;
  background-color: clr(wht);
  padding: $padding-large $padding-default;
  border-top: 0;
}

.card-test__date {
  line-height: 1.5;
  font-weight: 700;
  font-size: 2.1rem;
  color: clr(blackest);
}

.card-test__heading {
  font-weight: 400;
  margin-top: 2.4rem;
  a {
    color: clr(blackest);
    text-decoration: none;
  }
}

.card-test__link {
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

