// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  display: block;
  position: relative;
  background-color: clr(white);

  &::after {
    content: "";
    /* stylelint-disable */
    background-image: url("#{$images}/icons/chevron-down.svg"), url("/images/icons/chevron-down.svg"); /* stylelint-ignore */
    /* stylelint-enable */
    background-size: 1.1rem 0.6rem;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0.6rem;
    width: 1.1rem;
    position: absolute;
    top: 40%;
    right: $space-double;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }
}

.form-item__select {
  border: 0.2rem solid ckr(primary);
  border-radius: 0;
  margin: 0;
  padding: $space;
  width: 100%;

  &:focus {
    border-color: clr(bright-turquoise);
    outline: 0.2rem solid clr(bright-turquoise);
    outline-offset: 0;
  }
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: $space; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */

    /* inside @supports so that Android <= 4.3 display the native arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: clr(primary);
      border-radius: 0;
    }
  }

  .select--custom-list {

    .form-item__dropdown {
      background-color: transparent;

      &::after {
        content: none;
      }
    }

    select + span.ui-button {
      border: 0;
      padding: 0;
      background: transparent;
      width: auto;
      @extend .link;


      &span {
        color: clr(primary-dark);
      }
    }
  }

  // Autocomplete.
  .ui-front--custom .ui-menu-item {
    margin: 0 $space;
    padding: $space;

    .ui-menu-item-wrapper {
      @extend .link;

      padding-left: 0;
      padding-right: 0;
      white-space: nowrap;

      &.ui-state-active {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: transparent;
        margin: 0;
      }
    }
  }
}
